@model IEnumerable<ProjectsModel>

<div class=" container">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-4"><i <i class="bi bi-journal-text"></i> <i class="bi bi-journal-text"></i> Project list <i class="bi bi-journal-text"></i> <i class="bi bi-journal-text"></i></h1>
        <a class="btn btn-success" asp-controller="Projects" asp-action="NewProject"><i class="bi bi-file-earmark-plus"></i> New Project</a>
    </div>

    <table id="Projects" class="table table-hover table-dark" style="border-radius: 10px">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Finished</th>
                <th scope="col">Link to access</th>
                <th scope="col">Data de atualização</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {
                @foreach (var projects in Model)
                {

                    <tr>
                        <th scope="row">@projects.Id</th>
                        <td>@projects.Name</td>
                        <td>@projects.Finished</td>
                        <td>@projects.Link</td>
                        <td>@projects.DataUltimaAtualizacao</td>
                        <td>
                            <a asp-controller="Projects" asp-action="EditProject" asp-route-id="@projects.Id" class=" btn btn-warning mx-2"><i class="bi bi-pencil-square"></i> Edit</a>
                            <a asp-controller="Projects" asp-action="DeleteProject" asp-route-id="@projects.Id" class=" btn btn-danger mx-2"><i class="bi bi-trash3-fill"></i> Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
